body {
    font-family: Arial, sans-serif;
    background-color: #A50044;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container,
.user-container {
    background-color: #004D98;
    padding: 30px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #FFCB05;
    margin-bottom: 20px;
}

input {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #A50044;
    color: #FFCB05;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #7A003C;
}

p {
    margin-top: 15px;
    color: #FFCB05;
}

a {
    color: #FFCB05;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.user-container p {
    color: #FFCB05;
    margin-bottom: 20px;
}

